
    <br /><br /><footer style="position: relative; bottom: 140px;">
        <div class="hyt" style="padding: 20px 20px 10px 20px;">
          <div class="row">
            <div class="col-md-3">
              <div class="widget">
                <h4 style="font-size:25px">Our Contact</h4>
                <address style="font-size: 20px;">
                  <strong style="font-size:23px">BMD Company Inc</strong><br>
                  Indian Institute of Information Technology, Sri City, Chittoor
                  630 Gnan Marg, Sri City, Satyavedu Mandal
                  Chittoor District - 517 646, Andhra Pradesh, India
                </address>
                <p style="font-size: 20px;">
                  <i class="icon-phone"></i>+91 7301555888<br>
                  <i class="icon-envelope-alt"></i> sowmika4878@gmail.com
                </p>
              </div>
            </div>
            <div class="col-md-3">
              <div class="widget">
                <h5 style="font-size: 25px;">Quick Links</h5>
                <ul class="link-list" style="font-size: 20px;">
                  <li><a href="/Register" style="text-decoration: none;">Register</a></li>
                  <li><a href="/faq" style="text-decoration: none;">FAQ'S</a></li>
                  <li><a href="/Contact" style="text-decoration: none;">Contact Us</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-3">
              <div class="widget">
                <h6 style="font-size: 25px; text-decoration: none;">Connect with Us!</h6>
                <ul class="link-list" style="font-size: 20px;">
                  <li><a href="#" style="text-decoration: none;"> Instagram </a></li>
                  <li><a href="#" style="text-decoration: none;">Gmail</a></li>
                  <li><a href="#" style="text-decoration: none;">Facebook</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-3">
              <div class="widget">
                <h5 style="font-size: 25px;">Suggestions</h5>
                <ul class="link-list" style="font-size: 20px;">
                  <li><a href="#" style="text-decoration: none;">We are open to any suggestions!</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-7">
            </div>
            <div class="col-md-3">
              <div class="widget">
              </div>
            </div>
      </footer>